.comp10{
    font-size: 20px;
    font-style: Monospace;
}
.pic
{
    width:90px;
    height:400px;
}
    .mine1 {
       
        margin-left: 540px;
        color: #000;
        padding: 20px 25px;
        border:#333333;
        border-radius: 5px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        
      }
      .input-box1 .icon{
        position: absolute;
        top: 13px;
        right: 0;
        font-size: 19px;
    }
  .good
  {
    margin-left: 30px;
        color: #000;
        padding: 5px 5px;
        border:#333333;
        border-radius: 5px;
        font-size: 50px;
        font-weight: bold;
        cursor: pointer;
        
  }
  

.box8100 {
    margin-top: 100px;
    padding-top: 300px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    margin-left: 470px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }
    
        .box-container10 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            }
            .report-body10 {
                padding: 10px;
            }