
.radio1
{
    font-size: 25px;
    padding-top: 50px;
}
.radio2{
    font-size: 25px;
    padding-top: 50px;
    padding-left: 10px;

}
.head
{
    font-size: 15px;
    padding-top: 70px;
}
.mine5 {
       
    margin-left: 1000px;
    color: #000;
    padding: 20px 25px;
    border:#333333;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    
  }
  .topp{
    background: url("https://cdn.pixabay.com/photo/2022/09/04/08/14/book-7431063_1280.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 200px;
  }
 
